/* CalendrierPersonnes.css */

.personne {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.enteTableau {
  font-weight: bold;
  font-size: 18px;
}

.aujourdhui {
  background-color: #ffc107;
  color: #fff;
}
.nufiMonth {
  color: blue;
}